@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter", sans-serif;
  src: url(./font/static/Inter-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url(./font/static/Inter-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url(./font/static/Inter-Medium.ttf);
  font-weight: 500;
}

@layer base {
  body {
    @apply bg-[#f2f2f2];
  }
}

@layer components {
  .card {
    @apply rounded-lg bg-white p-6 w-full border flex flex-col space-y-4 items-start;
  }

  .card .card-body>.card-title {
    @apply text-lg font-medium font-inter text-port-black capitalize;
  }

  .card-body .card-description {
    @apply text-base font-normal font-inter text-port-gray;
  }

  .recommender-profile {
    @apply flex space-x-3 items-center justify-center;
  }

  .recommender-avatar {
    @apply h-12 w-12 rounded-full border;
  }

  .ratings {
    @apply flex items-center space-x-3 justify-start;
  }

  .ratings .icon {
    @apply h-5 text-port-yellow;
  }

  .university {
    @apply flex flex-col gap-8 sm:gap-14 items-start justify-center md:flex-row border-b border-port-gray/40 py-8;
  }

  .university:nth-child(3) {
    @apply border-none;
  }

  .university-name {
    @apply text-lg sm:text-2xl font-semibold text-port-black capitalize;
  }

  .university-description {
    @apply text-base sm:text-xl font-semibold text-port-gray flex items-center text-justify capitalize space-x-10;
  }
}