@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter", sans-serif;
  src: url(./font/static/Inter-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url(./font/static/Inter-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url(./font/static/Inter-Medium.ttf);
  font-weight: 500;
}

/* fira code */
@font-face {
  font-family: "Fira Code", monospace;
  src: url(./font/FiraCode-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Fira Code", monospace;
  src: url(./font/FiraCode-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Fira Code", monospace;
  src: url(./font/FiraCode-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Fira Code", monospace;
  src: url(./font/FiraCode-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Fira Code", monospace;
  src: url(./font/FiraCode-Light.ttf);
  font-weight: 300;
}

@layer base {
  * {
    @apply transition duration-75;
  }
  body {
    @apply bg-port-light-bg dark:bg-port-bg;
  }
}

@layer components {
  .loader {
    width: 50px;
    aspect-ratio: 1;
    --c: linear-gradient(#767676 0 0);
    --m: radial-gradient(farthest-side, #767676 92%, #767676);
    background: var(--c), var(--m), var(--c), var(--m), var(--c), var(--m);
    background-size: 8px 25px, 8px 8px;
    background-repeat: no-repeat;
    animation: l14 1s infinite alternate;
  }
  @keyframes l14 {
    0%,
    10% {
      background-position: 0 0, 0 100%, 50% 0, 50% 100%, 100% 0, 100% 100%;
    }
    33% {
      background-position: 0 100%, 0 0, 50% 0, 50% 100%, 100% 0, 100% 100%;
    }
    66% {
      background-position: 0 100%, 0 0, 50% 100%, 50% 0, 100% 0, 100% 100%;
    }
    90%,
    100% {
      background-position: 0 100%, 0 0, 50% 100%, 50% 0, 100% 100%, 100% 0;
    }
  }
}
